testdata/xslt30/testdata/tests/fn/id/id164.dtd

<!ELEMENT document (people, departaments)>
<!ELEMENT people (person*)>
<!ELEMENT person EMPTY>
<!ATTLIST person id ID #REQUIRED>
<!ATTLIST person name CDATA #IMPLIED>
<!ELEMENT departaments (departament*)>
<!ELEMENT departament EMPTY>
<!ATTLIST departament nam CDATA #REQUIRED>
<!ATTLIST departament people IDREFS #REQUIRED>
